/* Global */
:root {
  /* Font size */
  --font-header: 32px;
  --font-button: 28px;

  /* Space */
  --margin-between: 8px;
  --margin-field: 40px;
  --icon-width: 60px;
  --icon-height: 60px;
  --button-height: 25px;

  /* Color */
  --color-background: wheat;
  --color-white: white;
  --color-score: darksalmon;

  /* border */
  --border: 4px;
  --border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}

body {
  background-color: black;
  text-align: center;
  overflow: hidden;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 0.8;
}

/* Game Section */
.game {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url(img/back.png) center/cover no-repeat;
  width: 1000px;
  height: 600px;
  border-radius: var(--border-radius);
  margin: var(--margin-field) auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game__button {
  align-self: center;
  width: var(--icon-width);
  height: var(--button-height);
  background-color: transparent;
  font-size: var(--font-button);
  color: var(--color-white);
  position: relative;
}

.game__button_text {
  font-size: var(--font-button);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game__timer {
  width: 80px;
  background-color: #000000;
  color: var(--color-white);
  opacity: 0.8;

  text-align: center;
  margin-top: var(--margin-between);
  border: var(--border) solid black;
  font-size: var(--font-header);
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: transparent;
  color: #6f7ff2;
  font-size: var(--font-header);
  font-weight: bold;
  margin-top: var(--margin-between);
  visibility: hidden;
  user-select: none;
  cursor: auto;
  animation: blink-effect 1s step-end infinite;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: var(--margin-field);
}

.bug,
.carrot {
  transition: transform 300ms ease-in;
}

.bug:hover,
.carrot:hover {
  transform: scale(1.1);
}

/* Pop-up Box */
.pop-up {
  display: block;
  width: 500px;
  height: 150px;
  margin: auto;
  background-color: #00000090;
  color: var(--color-white);
  text-align: center;
  margin: auto;
  transform: translateY(-200%);
  border-radius: var(--border-radius);
}

.pop-up--hide {
  display: none;
}

.pop-up__replay {
  width: 60px;
  height: 60px;
  font-size: 24px;
  color: var(--color-white);
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50%;
}

.pop-up__replay:hover {
  color: #fcb900;
}

.pop-up__message {
  font-size: var(--font-header);
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
